@{
    Layout = "_Layout";
}

<h1>Welcome to the Music Organizer!</h1>
<h3><a href='/records'>View records</a></h3>
<h3><a href='/records/new'>Add a new record</a></h3>
<h3><a href='/artists'>View artists</a></h3>
<h3><a href='/search_by_artist/new'>Search by artist</a></h3>