@using MusicOrganizer.Models;
@{
    Layout = "_Layout";
}
<h3>Here are all the records by <em>@Model["artist"].Name:</em></h3>

<ol>
@foreach (Record record in @Model["records"])
{
    <li><a href='/artists/@Model["artist"].Id/records/@record.Id'>@record.Title</li>
}
</ol>

<p><a href='/artists'>Return to artists list</a></p>
<p><a href="/"> Go home</a></p>