<form action="/records" method="post">
  <label for="title">Add a new record</label>
  <input id="title" name="title" type="text">
  <label for="name">Add an artist name</label>
  <input id="name" name="name" type="text">
  <button type="submit">Submit</button>
</form>