@{
    Layout = "_Layout";
}
<h1>Record Details: </h1>

<h3>Record Title: @Model.Title by @Model.NameOfArtist.Name</h3>

<p><a href='/records/new'>Add another record</a></p>
<p><a href='/records'>View all records</a></p>
<p><a href="/"> Go home</a></p>