<h2>Search by artist</h2>
<form action="/search_by_artist" method="post">
  <label for="name">Enter an artist name or part of artist name:</label>
  <input id="name" name="name" type="text">
  <button type="submit">Submit</button>
</form>